@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 16%;
    position: relative; 
}

.box-list {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    body .category h1 {
        font-size: 12px;
        margin-left: 150px;
    }

    body .container-main img {
        width: 80%; 
    }

  }
  